<a href="https://colab.research.google.com/github/romanfen/F21DL-G6/blob/main/Universities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DONT DELETE

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#Set up modules

import sys
assert sys.version_info >= (3,5)

import sklearn
assert sklearn.__version__ >= "0.20"

import numpy as np
import os
import tarfile
import urllib
import pandas as pd
import urllib.request

%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

In [4]:
# Load data from the github repo
def load_uni_data():
    url = "https://raw.githubusercontent.com/romanfen/F21DL-G6/main/Top%202000%20Universities%20of%20the%20World%20-%20Sheet1.csv"
    #csv_path = os.path.join("https://github.com/romanfen/F21DL-G6/blob/main/Top%202000%20Universities%20of%20the%20World%20-%20Sheet1.csv")
    return pd.read_csv(url)

unis = load_uni_data()
unis.head()

,World Rank,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
0,1,Harvard University,USA,1,1,1,1,1,100.0
1,2,Massachusetts Institute of Technology,USA,2,4,12,2,8,96.7
2,3,Stanford University,USA,3,10,4,3,2,95.1
3,4,University of Cambridge,United Kingdom,1,3,25,4,10,94.1
4,5,University of Oxford,United Kingdom,2,7,27,9,4,93.3